/**
 * Custom theme
 * 
 * @theme your-custom-theme
 * @auto-scaling false
 */

@import 'default';

pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: line-number 0;
}

pre ol li {
  display: contents;
}

pre ol li span[data-marp-line-number]::before {
  display: block;
  content: '';
  counter-increment: line-number;
  text-align: right;
}

pre .highlighted-line > * {
  background-color: #ff6;
}

pre:has(.highlighted-line) li:not(.highlighted-line) > * {
  opacity: 0.5;
}